# Игнорируем виртуальные окружения
venv
*.pyc
*.pyo
__pycache__
*.pdb
*.egg-info

# Игнорируем настройки IDE и редакторов
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Игнорируем файлы системы контроля версий
.git
.gitignore

# Игнорируем лог-файлы и файлы базы данных
*.log
*.sqlite3

# Игнорируем файловые и локальные настройки
.env
.env.local
.DS_Store

# Игнорируем временные файлы и каталоги
tmp/
temp/
*.bak
*.swp